# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
build/
coverage/
dist/
doc/api/
project.xcworkspace

# Android
.gradle/
local.properties

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Dart
.dart_tool/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Secrets
lib/secrets.dart